{%extends 'registration/base.html'%}
{% load bootstrap4 %}
{% block content %}
<div class="container-fluid" style='background-color:#FAFAFA;'>
  <div class="row">
    <!-- Empty div -->
    <div class="col-md-4"></div>
    <div class="col-md-4">
      {% if form.errors %}
        <p> Password or Username is incorrect </p>
      {% endif %}
   <div class="panel-body card register-card">
        	<h2 class='header'>Sign In<h2>
        	<form  action="/accounts/login/" method="post">
            	{%csrf_token%}
            	{% for field in form %}
            	<div class='fieldWrapper'>
            		<h5 style='text-align:center;font-family"Roboto", sans-serif;font-size:14px;'>{{field.label}}</h5>

            		<p style='width:100%;text-align:center;'>{{field}}</p>
            		</div>
       			 {% for error in field.errors %}
         		 <p style="color: red">{{ error }}</p>
        			{% endfor %}
            	{% endfor %}
            	{% if user.is_authenticated%}
              <input type='hidden' name='next' value='/'>
              {%endif%}
              
              <input type="submit" class="btn btn-primary btn-sm"  value='Login ' style='text-align:center;font-family"Roboto", sans-serif;font-size:14px;width:100%;margin-top:20px;'>

            </form>
 <a href='/accounts/register/'>Sign up</a>
           
             
		</div>
		</div>
	</div>
    </div>
    <!-- empty div -->
    <div class="col-md-4"></div>
  </div>
</div>
{% endblock %}