{%extends "registration/base.html"%} 
{% load bootstrap4 %}

{% block content %}

<div class="container-fluid" style='background-color:#FAFAFA;'>
	<!-- empty div -->
	<div class='row'>
		<div class='col-md-4 col-xs-4 col-sm-4 phone'>
			<div class='content'></div>
        </div>
        <div class='col-md-4 col-xs-4 col-sm-4'>
        <div class="panel-body card register-card">
        	<h2 class='aligner forms'><strong>Sign Up</strong><h2>
          <form  action="/accounts/register/" method="post">
            	{%csrf_token%}
            	{% for field in form %}
            	<div class='fieldWrapper'>
            		<h5 class="forms aligner">{{field.label}}</h5>

            		<p style='width:100%;text-align:center;'>{{field}}</p>
            		</div>
       			 {% for error in field.errors %}
         		 <p style="color: red">{{ error }}</p>
        			{% endfor %}
            	{% endfor %}
            	
              <input type="submit" class="btn btn-primary btn-sm form-rounded widther forms" value="Sign Up" >
              
            </form>

            
             
		</div>
		<div class='card login-card'>
			<h1 class="forms aligner">
				If you have an account: </h1>
			<a href='/accounts/login' class="forms aligner"'>Sign In</a>
            <input type="hidden" name="next" value="{{next}}">
		</div>
		
	</div>
		<div class='col-md-4 col-xs-4 col-sm-4'>
		</div>
		</div>

   		
   		
    </div>
{%endblock%}