{% extends 'base.html' %}
{%block content%}
<div class='container-fluid'>
<form class="fform" action="{% url "search" %}">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="name">
    </form>
</div><br>
    <div class='render'>
	<div class='row'>
		{% if businesses %}
		<h2><strong>Found {{ businesses|length }} of searched term {{message}} in this hood</strong></h2>
		{% else %}
		<h2><strong>Found 0 businesses for the searched term {{message}} in this Hood</strong></h2>
								<div class="house">  <div>
		{% endif %}
	</div>
	<div class='row'>
		{% if businesses %}
		{% for business in businesses %}
		<div class='col md-3'>
			<h1><a href=''>{{business.name}}</a></h1>
			
		</div>
		{% endfor %}
		{% endif %}
	</div></div>
{%endblock%}